body {

}

.errors {
    color: red;
}

main{
    padding: 4% 2% 0% 7%;
}

body {

}

header{
    background-image: url(header.jpg);
    box-sizing: border-box;
    background-size: cover;
    background-repeat: repeat;
    /*position: fixed;*/
    z-index: 100;
    padding: 2% 0 1% 8% ;
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    border-bottom: 2px solid #f1f1f1;
}

.btn {
    margin: 5px 5px 10px 5px;
}

h1, .link{
    color: black;
    font-family: "Perpetua Titling MT";
    font-size: 36px;
    /*text-shadow: black 0.1em 0.1em 0.2em;*/
    font-weight: 500;
}

h2{
    font-size: 30px;
    font-family: "Perpetua Titling MT";
    margin-left: 20px;
}

.link:hover {
    border-bottom: 2px solid;
}

label{
    margin-bottom: 5px;
}

.form-control{
    margin-bottom: 5px;
}

.alert{
    margin-top: 20px;
}

.glyphicon{
    font-family: inherit;
}

.glyphicon-calendar{
    font-family: 'Perpetua Titling MT';
    font-size: 1.5em;
}

.glyphicon:before{
    font-family:'Glyphicons Halflings';
}

ul{
    list-style: none;
    font-size: 1em;
}

li{
    margin-bottom: 20px;
}

.Blue {
    color: blue;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.dropdown{
    margin-top: 20px;
    margin-bottom: 30px;
}

.col-md-7{
    padding-left: 50px;
}
.lol ul{
    margin-top: 30px;
}

.lol a{
    margin-bottom: 30px;
}
