body {

}

.errors {
    color: red;
}

main{
    padding: 50px 2% 0% 7%;
}

body {

}

header{
    background-color: lightblue;
    width: 100%;
    padding: 3%;
}

.btn {
    margin-top: 2px;
}

h1{
    font-family: "Perpetua Titling MT";
    font-size: 36px;
}

label{
    margin-bottom: 5px;
}

.form-control{
    margin-bottom: 5px;
}

.alert{
    margin-top: 20px;
}